ud04/03.dtd

<!DOCTYPE mail [
    <!ELEMENT remitente (#PCDATA)>
    <!ELEMENT destinatario (#PCDATA)>
    <!ELEMENT asunto (#PCDATA)>
    <!ELEMENT mensaje (#PCDATA)>
    <!ELEMENT fecha EMPTY>
    <!ELEMENT fichero (#PCDATA)>
    <!ELEMENT mail (remitente, destinatario+, fecha, asunto?, mensaje?, fichero *)>
    <!ATTLIST fecha dia CDATA #REQUIRED>
    <!ATTLIST fecha mes CDATA #REQUIRED>
    <!ATTLIST fecha anyo CDATA #REQUIRED>
    <ATTLIST fichero tipo CDATA #REQUIRED>

]>
